<h1><%= Report.model_name.human %></h1>

<% if @reports.present? %>
  <table>
    <thead>
      <tr>
        <th><%= Report.human_attribute_name(:title) %></th>
        <th><%= Report.human_attribute_name(:content) %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= report.title %></td>
          <td><%= report.content %></td>
          <td><%= link_to t('views.common.show'), user_report_path(report.user, report) %></td>
          <td><%= link_to t('views.common.edit'), edit_user_report_path(report.user, report) %></td>
          <td><%= link_to t('views.common.destroy'), user_report_path(report.user, report), method: :delete, data: { confirm: t('views.common.delete_confirm') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>日報はありません</p>
<% end %>


<br>

<%= link_to t('views.common.new'), new_user_report_path %> |
<%= link_to t('views.common.back'), user_path(params[:user_id]) %>
